[package]
name = "rvr-isa"
description = "RISC-V instruction set definitions and decoder"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
thiserror.workspace = true
rayon.workspace = true
