[submodule "programs/riscv-tests"]
	path = programs/riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "programs/polkavm"]
	path = programs/polkavm
	url = https://github.com/shuklaayush/polkavm.git
[submodule "programs/libriscv"]
	path = programs/libriscv
	url = git@github.com:libriscv/libriscv.git
[submodule "programs/coremark"]
	path = programs/coremark
	url = https://github.com/eembc/coremark.git
