[package]
name = "rvr-ir"
description = "Intermediate representation for RISC-V recompiler"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[lints]
workspace = true

[dependencies]
thiserror.workspace = true
